{% extends 'gymbase.html' %}
{% load crispy_forms_tags %}


{% block main %}
       
<div class="content">
            
    <div class="container">
      
        <div class="row">
            <div class="col-xl-12">
                <div class="section-tittle text-center mb-55">
                    <h2>Nutriment</h2>
                </div>
            </div>
        </div>
        <div class="form-floating">
          
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="center">
              <button type="submit" class="button button5">submit</button>
            </di>
          </form>
          </div>

      <div class="table-responsive custom-table-responsive">
        
        <table class="table custom-table">
          <thead>
            <tr>  
              <th scope="col"><h2>Name</h2></th>
              <th scope="col"><h2>Calories</h2></th>
              <th scope="col"><h2>Protein</h2></th>
              <th scope="col"><h2>Carbohydrates</h2></th>
              <th scope="col"><h2>Sugar</h2></th>
              <th scope="col"><h2>Fat</h2></th>
              <th scope="col"><h2>Potassium</h2></th>
              <th scope="col"><h2>Cholesterol</h2></th>
              <th scope="col"><h2>Fiber</h2></th>
            </tr>
          </thead>
          {% if  food_info %}
            <tbody>
              {% for item in food_info %}
              <tr scope="row">
              <td><h2>{{ item.name }}</h2></td>
              <td><h2>{{ item.calories }}</h2></td>
              <td><h2>{{ item.protein_g }}</h2></td>
              <td><h2>{{ item.carbohydrates_total_g }}</h2></td>
              <td><h2>{{ item.sugar_g }}</h2></td>
              <td><h2>{{ item.fat_total_g }}</h2></td>
              <td><h2>{{ item.potassium_mg }}</h2></td>
              <td><h2>{{ item.cholesterol_mg }}</h2></td>
              <td><h2>{{ item.fiber_g }}</h2></td>
              </tr>
              <tr class="spacer"><td colspan="100"></td></tr>
              {% endfor %}
          </tbody>
          {% endif %}
        </table>
      </div>


    </div>

  </div> 
{% endblock %}
